body {
    /* Устанавливаем цвет фона */
    background-color: #aaaaaa;

    /* Устанавливаем цвет текста */
    color: #ffffff;

    /* Устанавливаем размер шрифта */
    font-size: 4vh;

    /* Устанавливаем шрифт */
    font-family: 'Comfortaa', cursive;

    /* Устанавливаем внешние отступы по бокам */
    margin: 0px 50px;
}

p {
    /* Устанавливаем выравнивание абзаца */
    text-align: center;

    /* Устанавливаем отступ красной строки */
    text-indent: 4vh; 
}

    p:first-letter {
        /* Устанавливаем размер шрифта */
        font-size: 6vh;

        color: #ff8000;
    }

a {
    /* Устанавливаем внешние отступы по бокам */
    margin: 0px 50px;
    /* Цвет обычной ссылки */
    color: #008000; 
}

   a:visited {
    /* Цвет посещенной ссылки */
    color: #555555; 
   }

   a:hover {
    /* Цвет ссылки, над которой курсор */
    color: #00ff00; 
   }

   a:active {
    /* Цвет активной ссылки */
    color: #ffffff; 
   }