div.container {

    /* Выравнивание текста по центру */
    text-align: center;

    /* Устанавливаем ширину */
    width: 100%;

    /* Устанавливаем высоту */
    height: 700px;
}

div.row {
    /* Устанавливаем высоту */
    height: 100%;

    /* Устанавливаем способ отображения */
    display: flex;

    /* Устанавливаем переход элементов на новую строку */
    flex-wrap: wrap;

    /* Выравнивание по высоте */
    align-items: center;

    /* Устанавливаем по ширине */
    justify-content: center;
}

div.photo {
    /* Устанавливаем ширину */
    width: 25%;
}