body {
    /* Устанавливаем выравнивание */
    text-align: center;
}

.block {
    margin: auto;
    width: 400px;
    height: 200px;
    border: 5px solid #333333;
    margin: 100px auto;
}

#block1 {
    background-color: blue;
    overflow: auto;
}

#block2 {
    background-color: green;
    overflow: hidden;
}

#block3 {
    background-color: yellow;
    overflow: scroll;
}

#block4 {
    background-color: red;
    overflow: visible;
}

#block5 {
    background-color: orange;
    overflow: inherit;
}